################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Results Non Quartile/emotions_evoked_by_joe_biden.png
/Results Non Quartile/emotions_evoked_by_either_candidate2.png
/Results Non Quartile/emotions_evoked_by_either_candidate.png
/Results Non Quartile/emotions_evoked_by_donald_trump.png
